body {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: auto;

    background: #252323;

}

#charts {
    max-width: 800px;
    max-height: 700px;
    height: 100%;
    width: 100%;
    color: white;
}
#teksti {
    position:absolute;
    left: 900px;
    top: 15px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}
#ka24 {
    position:absolute;
    left: 950px;
    top: 80px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 45px;

    color: #FFFFFF;
}
#teksti2 {
    position:absolute;
    left: 900px;
    top: 270px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}
#ka1 {
    position:absolute;
    left: 950px;
    top: 335px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 45px;

    color: #FFFFFF;
}
#header_1 {
    position: absolute;
    width: 632px;
    height: 93px;
    left: 50px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 104px;

    color: #FFFFFF;
}
#nav_1 {
    position: absolute;
    width: 752px;
    height: 67px;
    left: 664px;
    top: 69px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
    text-decoration: underline;
}
#nav_1:hover {
    cursor:pointer;
    text-decoration: underline;
}
#nav_2 {
    position: absolute;
    width: 752px;
    height: 67px;
    left: 832px;
    top: 69px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}
#nav_2:hover {
    cursor:pointer;
    text-decoration: underline;
}

#celsius {
    position: absolute;
    width: 40px;
    height: 38px;
    left: 15px;
    top: 1px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}
#fahrenheit {
    position: absolute;
    width: 40px;
    height: 38px;
    left: 159px;
    top: 1px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}
#slidebar_temp {
    position: absolute;
    width: 92px;
    height: 30px;
    left: 55px;
    top: 37px;

    background: linear-gradient(90deg, #33E017 0%, rgba(149, 241, 134, 0) 100%);
    border-radius: 22px;
    border: 2px solid black;
}

#slidebar_temp:hover {
    cursor:pointer;
    border: 2px solid white;
}
#slider {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 2px;
    top: 2px;

    background: #181515;
    border-radius: 50%
}
.status {
    position: absolute;
    width: 1340px;
    height: 600px;
    left: 50px;
    top: 300px;

    background: linear-gradient(112.67deg, #AD36CB 32.23%, #333333 67.37%);
    box-shadow: 0px 4px 4px rgba(253, 245, 245, 0.25), 0px 4px 4px rgba(255, 250, 250, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}
#location {
    position: absolute;
    width: 295px;
    height: 36px;
    left: 60px;
    top: 120px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}
#location_icon {
    position: absolute;
    width: 31px;
    height: 31px;
    left:200px;
    top: 160px;
    color: #FFFFFF;
}
#refresh_icon {
    position: absolute;
    width: 31px;
    height: 31px;
    left:1300px;
    top: 15px;
    color: #FFFFFF;
}
#refresh_icon:hover {
    font-weight: bold;
    cursor: pointer;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
#current_date {
    position: absolute;
    width: 195px;
    height: 21px;
    left: 60px;
    top: 170px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}
#upperclock {
    position: absolute;
    width: 288px;
    height: 57px;
    left: 60px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;

    color: #FFFFFF;
}
#inside {
    position: absolute;
    width: 295px;
    height: 36px;
    left: 400px;
    top: 1px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    text-decoration: underline;

    color: #FFFFFF;

}
#outside {
    position: absolute;
    width: 295px;
    height: 36px;
    left: 750px;
    top: 1px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    text-decoration: underline;

    color: #FFFFFF;

}
#thermometer {
    position: absolute;
    width: 18.73px;
    height: 62.44px;
    left: 350px;
    top: 100px;
    font-size: 50px;

    color:#FFFFFF;
}
#humidity {
    position: absolute;
    width: 18.73px;
    height: 62.44px;
    left: 350px;
    top: 200px;
    font-size: 50px;

    color:#FFFFFF;
}
#pressure {
    position: absolute;
    width: 18.73px;
    height: 62.44px;
    left: 350px;
    top: 300px;
    font-size: 50px;

    color:#FFFFFF;
}
#temp_now {
    position: absolute;
    width: 184px;
    height: 130px;
    left: 410px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 105px;

    color: #F2F1F1;
}
#temp_now_outside {
    position: absolute;
    width: 184px;
    height: 130px;
    left: 750px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 105px;

    color: #F2F1F1;
}
#hum_now {
    position: absolute;
    width: 184px;
    height: 130px;
    left: 410px;
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 105px;

    color: #F2F1F1;
}
#hum_now_outside {
    position: absolute;
    width: 184px;
    height: 130px;
    left: 750px;
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 105px;

    color: #F2F1F1;
}
#pa {
    position: absolute;
    width: 184px;
    height: 130px;
    left: 340px;
    top: 250px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 105px;

    color: #F2F1F1;
}
#pres_now {
    position: absolute;
    width: 184px;
    height: 130px;
    left: 410px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 105px;

    color: #F2F1F1;
}
#pres_now_outside {
    position: absolute;
    width: 184px;
    height: 130px;
    left: 750px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 105px;

    color: #F2F1F1;
}
