body {
    font-family: 'Oswald', sans-serif;
    background-image: url("kuvat/parsta.jpg");
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #252323
    }
  
  #container {
    width: 420px;
    background-color:aliceblue;
    border-radius: 3px;
    padding: 0px 15px 0px 15px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  h1 {
    background-color: cadetblue;
    text-align: center;
    color: white;
    padding: 5px;
  }
  
  ul {
    list-style-type: square;
    margin: 20px 0 20px 0;
  }
  
  input[type=text] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  button {
    border: 1px solid #ccc;
    margin-left: 15px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .delete {
    cursor: pointer;
    color: red;
    font-weight: bold;
  }
  .edit {
    cursor: pointer;
    color: blue;
    font-weight: bold;
  }
